.footer {
    background: $fond-gris-footer;
    padding: 20px;
width: 100%;
    @media (min-width: 768px) {

        flex-direction: row-reverse;
        gap: 20px;
        display: flex;
    }
}

.footer-content {
   @include colone;
    gap: 7px;
    color: white;

    @media (min-width: 768px) {

        display: flex;
        flex-direction: row;

    }
}
@media (min-width: 768px) {
    footer p {
        margin: 16px;
    }
}

footer h2 {
    color: white;
    font-weight: 400;
    font-size: 18px;
    font-family: $font-cursive;
}

.footer .icone {
    display: flex;
    align-items: center;
    gap: 7px;
}
footer a{
    color: white;
}