nav p {
    font-family: 'Shrikhand';
}

nav a{
    position: absolute;
    left: 23px;
}
nav {
    display: flex;
    justify-content: center;
    font-family: shrikhand;
    font-size: 30px;
    align-items: center;
    height: 100px;
}