.fonctionement 
{@include fonctionement; 
    @include colone ;
    @media (min-width: 767px) {
            padding-left: 10%;
            padding-right: 10%;
        }
    }
 .fonctionement .card {
    @include card ;
    @include flex ;
justify-content: flex-start;
}
.fonctionement-card{
    @include fonctionement-card ;
    @include colone ;
    @media (min-width: 767px) {
        
            display: flex;
            flex-direction: row;
        }
    
}

.fonctionement article{
    @include article;
    @include flex;   }
.fonctionement p {
    @include fonctionementp;
 @include flex}

 .fonctionement .card:hover{
    background-color:  #F5EDFF;
    color: $color-primary;
 }

