.fonctionement 
{@include fonctionement; 
    @include colone ;
    @media (min-width: 768px) {
            padding-left: 8%;
            padding-right: 8%;
        }
    }
 .fonctionement .card {
    @include card ;
    @include flex ;
justify-content: flex-start;
}
.fonctionement-card{
    @include fonctionement-card ;
    @include colone ;
    @media (min-width: 768px) {
        
            display: flex;
            flex-direction: row;
        }
    
}

.fonctionement article{
    @include article;
    @include flex; 
position: relative;  }
.fonctionement p {
    @include fonctionementp;
 @include flex}

 .fonctionement .card:hover{
    background-color:  #F5EDFF;
    color: $color-primary;
 }

 .fonctionement .fa-solid{
    margin-left: 30px;
 }
