.menu{
    @include menu ;
    @media (min-width: 1024px){
       @include colone;
            align-items: center;
            width: 80%;
                 margin-left: 10%;
        }
        
}
.menu-title{
    @include  flex;
    justify-content: space-between;
    padding: 20px;
}
@media (min-width: 1024px){
.menu-title{
     gap: 25px;
     padding: 0px;
}
}
.menu-img  img {
    @include menu-img
}
.menu h1{
font-family: $font-cursive;
font-style: italic;
font-weight: 400;
font-size: 28px;
line-height: 41px;}
.menu-card{
   @include colone;
   gap: 20px;
    @media (min-width: 1024px){
       
            width: 60%;
        }
}
.Entrer, .Plats, .Desserts{
    @include colone;
    @include entrer
}

.menu .card{
    @include menucard
}

.menu .card-content {
  @include card-conteneur;
  @include colone
}
.menu-txt{
   @include menu-txt}

   .menu h2 {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    border-bottom: 3px solid;
    width: 40px;
    color: #008766;
}
.prix{
    @include prix
}


.menu .fa-regular{
    position: absolute;
}
.menu .fa-solid:hover {
    @include hover
  }
  .menu .fa-solid:not(:hover) {
    @include nothover
  }


