.menu{
    @include menu ;
    @media (min-width: 768px){
       @include colone;
            align-items: center;
            width: 80%;
                
        }
        
}
.menu-title{
    @include  flex;
    justify-content: space-between;
    padding: 20px;
}
@media (min-width: 768px){
.menu-title{
     gap: 25px;
     padding: 0px;
}
}
.menu-img{
    width: 100%;
}
.menu-img  img {
    
    @include menu-img
}
.menu h1{
font-family: $font-cursive;
font-style: italic;
font-weight: 400;
font-size: 28px;
line-height: 41px;}
.menu-card{
   @include colone;
   gap: 20px;
    @media (min-width: 768px){
       
            width: 60%;
        }
}
.Entrer{
    animation: animation-menu 1.5s;
}
.Plats{
    animation: animation-menu 2.5s;
}
.Desserts{
    animation: animation-menu 3.5s;
}
.Entrer, .Plats, .Desserts{
    @include colone;
    @include entrer
}

.menu .card{
    @include menucard ;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}


.menu .card-content {
  @include card-conteneur;
  @include colone;
  width: 100%;
}
.menu-txt{
   @include menu-txt}

   .menu h2 {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    border-bottom: 3px solid $color-tertiary;
    width: 40px;

}
.prix{
    @include prix
}


.menu-title .fa-regular{
   margin-right: -28px;
}
.menu-title .fa-solid:hover {
    @include hover
  }
  .menu-title .fa-solid:not(:hover) {
    @include nothover
  }


.menu-prix i { 
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    background-color: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: $color-tertiary;
    animation: reverse__check-mark-button__rotate 0.8s;
}

.menu-prix {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 69px;
    background: $color-tertiary;
    border-radius: 0px 15px 15px 0px;
    margin-right: -4rem;
    animation: reverse__check-mark-button__appear 0.8s;
}

.card-content p, .card-content h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.card:hover .menu-prix {
    animation: check-mark-button__appear 0.8s forwards ease-in-out;
    
}

.card:hover .menu-prix i {
    animation: check-mark-button__rotate 0.8s forwards ease-in-out;
}
