.Restaurants{
    @include restaurant ;
    @include colone;
    @media (min-width: 768px){
       
            padding-left: 8%;
            padding-right: 8%;}
        
}
.Restaurants-card{
    @include Restaurants-card
}
.Restaurants a {
    @include restaurans-a ;
    @media (min-width: 768px){
    
            width: 100%;
        }
        }


 .Restaurants .card {
    @include restaurantscard;
    position: relative;
    
}
.Restaurants .card img{
    @include img
}
.Restaurants .card-content{
    @include cardcontent ;
    @include flex;
    justify-content: space-between;
    border-radius: 15px;
}
.card-txt{
    @include cardtxt
}
.Restaurants p {
    margin: 0px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
}
.Restaurants .fa-regular{
   margin-right: -28px;
}
.Restaurants .fa-solid:hover {
   @include hover
  }
  
  .Restaurants .fa-solid:not(:hover){
  @include nothover
  }
  .Restaurants a:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    filter: brightness(1.1);
    border-radius: 25px;
  }
  .restaurants-container{
    position: relative;
    width: 100%;
  }
.restaurants-container{
    @media (min-width: 768px){
    
        width: 48%;
    }
    }

