.bouton{
    @include bouton;
    @include flex
}
.bouton:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    filter: brightness(1.2);
    transition: all 0.3s ease-in-out 0.3s;
  }
.bouton-nouveau{
    @include bouton-nouveau;
    @include flex
}

/***MENU*****/
.Commander{
 @include flex;
 margin: 20px;
}

.bouton-retour{
    @include bouton-retour
}