body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1rem;
  }
  * {
    box-sizing: border-box;
    
      font-family: 'Roboto', sans-serif,;
    
  }
  a {
    text-decoration: none;
    color: #000;
  }
p{
  margin: 0px;
}

h2{
  font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}
  