@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin colone{
    display: flex;
    flex-direction: column;
}

/***LOCALISATION****/

@mixin localisation {
 gap: 17px;
    background-color: #EAEAEA;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    height: 50px;
}

/*******EXPLORATION*****/
@mixin exploration {
    
    align-items: center;
    text-align: center;
    background-color: #F6F6F6;
    gap: 17px;
}
/*******BOUTON*******/
@mixin bouton {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    width: 210px;
    height: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
   margin-bottom: 30px;
    color: white;
}
@mixin bouton-retour {

    color: black;
    font-size: 16px;
}

@mixin bouton-nouveau {
    background: $color-tertiary;
    Width: 80px;
    Height: 29px;
    position: absolute;
    color: #008766;
    font-size: 14px;
    font-weight: 500;
    right: 5%;
    top: 5%;
}

/******* FONCTIONEMENT****/
@mixin fonctionement-card {
   gap: 25px;
}
@mixin card {
    width: 100%;
    height: 72.38px;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;}

@mixin article {
     gap: 15px;
}

@mixin fonctionementp {
    background: ($color-primary);
    border-radius: 50%;
    width: 24px;
    height: 24px;
 color: #F6F6F6;
    font-size: 14.18px;
    margin-left: -12.51px;
}

@mixin fonctionement {
    background: #FFFFFF;
    gap: 25px;
    padding: 28px;
}

/***Restaurants*****/
@mixin restaurant {
    background: #F7F7F7;
  padding: 25px;}
@mixin Restaurants-card {
    flex-wrap: wrap;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    row-gap: 30px;
    margin-bottom: 29px;
}

@mixin restaurans-a {
    width: 100%;
    text-decoration: none;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

@mixin restaurantscard {
    background-color: white;
    border-radius: 20px;
   
    width: 100%;
}

@mixin img {
    width: 100%;
    height: 231px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

@mixin cardcontent {
    width: 100%;
    background-color: white;
}

@mixin cardtxt {
    color: black;
    padding: 12px;
}

/***MENU****/
@mixin menu {
    position: relative;
    margin-top: -40px;
    width: 100%;
    height: 1307px;
    border-radius: 45px 45px 0px 0px;
    background: #F7F7F7;
}
@mixin menu-img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}
@mixin entrer {
      gap: 12px;
    padding: 12px;
}

@mixin menucard {
    width: 100%;
    height: 69px;
    background: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
}

@mixin card-conteneur {
    padding: 10px;
    gap: 6px;
}

@mixin menu-txt {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 300;
    font-size: 15.0431px;
    line-height: 18px;
}
@mixin prix {
    font-style: normal;
    font-weight: 700;
    font-size: 15.0431px;
    line-height: 18px;
}
@mixin icone{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
}
@mixin hover{
    background-image:  $linear-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
    line-height: 1;
    cursor: pointer;
    transition: opacity 0.8s ease-in 0.3s;
  }


@mixin nothover{
    background-image:  $linear-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1;
    transition: opacity 0.8s ease-in 0.3s;
    opacity: 0;
  }

