/***********PRIX-MENU*******/
@keyframes reverse__check-mark-button__rotate {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: rotate(360deg);
    }
}

@keyframes check-mark-button__rotate {
    0%{
        opacity: 0;
        transform: rotate(360deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}


@keyframes check-mark-button__appear {
    0% {
        opacity: 0;
        margin-right: -4rem;
    }
    100% {
        opacity: 1;
        margin-right: 0;
    }
}

@keyframes reverse__check-mark-button__appear {
    0% {
        opacity: 1;
        margin-right: 0;
    }
    100% {
        opacity: 0;
        margin-right: -4rem;
    }
}


    
  /*LOADER****/
      
     
      @keyframes disparition {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(0);
        }
      }
  
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg);}
      }

      @keyframes animation-menu {
        0% {
            transform: translateX(150px);
            opacity: 0;
        }
        
        100% {
            transform: translateX(0);
            opacity: 1;
        }
      }